/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.filter-field {
  width: 100%;
  max-width: 300px;
  margin-bottom: 16px;
}

.full-width-table {
  width: 100%;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}
